{
    "extends": "airbnb/base",
    "ecmaFeatures": {
        "forOf": true,
        "jsx": true,
        "es6": true
    },
    "rules": {
        "indent": [2, 4],
        "space-before-function-paren": 0,
        "prefer-const": 0
    }
}
