.intro-legend {
  width: 100%;
  line-height: 150%;
  border-bottom: 1px dashed silver;
  margin-bottom: 0.5em;
  font-weight: bold;
  letter-spacing: 1px;
}

.intro-sorry {
  margin: 0 0 1em 0;
  padding-top: 0.5em;
}

.intro-disclaimer {
  color: #555;
  text-align: justify;
  font-style: italic;
  margin-top: 0.25em;
  padding-left: 1.5em;
}

.intro-fields {
  margin-bottom: 1em;
  padding-left: 2em;
}

.intro label {
  display: inline-block;
  width: 6em;
}

label.intro-agree {
  display: inline;
}

.intro label:after {
  content: ':';
}

label.intro-gender:after {
  content: '';
}

.intro input {
  text-align: left;
}

.intro-field-name > input,
.intro-field-age > input {
  width: 15em;
}

.intro-field-gender > input {
  width: auto;
}

.intro blockquote {
  text-align: justify;
  line-height: 150%;
  border-top: 1px dashed silver;
  margin-top: 1em;
  padding-top: 1em;
}

.intro-button {
  margin-top: 1em;
  text-align: center;
}

.intro input[type='text']:focus,
.intro input[type='number']:focus {
  background-color: #fff0ee;
}

.submitted .invalid > input {
  border: 2px solid #ff5555;
}

.submitted .invalid > input::-webkit-input-placeholder { color: red; }
.submitted .invalid > input::-moz-placeholder { color: red; }
.submitted .invalid > input:-ms-input-placeholder { color: red; }
.submitted .invalid > input:-moz-placeholder { color: red; }

.submitted .invalid > input,
.submitted .invalid > label,
.submitted .invalid > label:after {
  color: red;
}

@media only screen and (max-width: 768px) {
  .intro-sorry {
    text-align: justify;
  }

  .intro-fields {
    margin-bottom: 1em;
    padding-left: 0;
  }

  .intro-field {
    display: table;
    padding: 0.125em 0;
    width: 100%;
  }

  .intro-field > label,
  .intro-field > input {
    display: table-cell;
  }

  .intro-field-gender > label[for],
  .intro-field-gender > input {
    width: auto;
  }

  .intro-field-name > input,
  .intro-field-age > input {
    width: 90%;
  }

  .intro-disclaimer {
    color: #555;
    text-align: justify;
    font-style: italic;
    margin-top: 0.25em;
    padding-left: 1.5em;
  }

  .intro blockquote {
    line-height: 1.5em;
    border-top: 1px dashed silver;
    margin-top: 1em;
    padding-top: 1em;
  }

  .intro-button {
    margin-top: 1em;
    text-align: center;
  }
}
