.SurveyForm button.yes {
  background-color: #fff;
  color: #000;
}

.SurveyForm button.yes:hover {
  background-color: #ddd;
  border-color: #333;
}

.SurveyForm button.no {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.SurveyForm button.no:hover {
  background-color: #333;
}
