.SurveyForm .b {
  width: 22.5%;
  min-height: 4.5em;
  margin-left: 2%;
  font-size: 0.75em;
}

.SurveyForm .b0 { background-color: #17516c; color: white; border-color: black; }
.SurveyForm .b1 { background-color: #b8dbef; }
.SurveyForm .b2 { background-color: #dbefbb; }
.SurveyForm .b3 { background-color: #aceca1; color: black; border-color: black; }

@media only screen and (max-width: 480px) {
  .SurveyForm .b { min-height: 5.5em; }
}
