.SurveyForm button.c {
  width: 14.6%;
  min-height: 4.5em;
  margin-left: 2%;
  font-size: 0.75em;
  color: black;
  border-color: black;
  font-weight: bold;
}

.SurveyForm button.c0 {
  background-color: rgb(71, 95, 255);
  color: #fff;
}

.SurveyForm button.c1 {
  background-color: rgb(117, 144, 216);
  color: #fff;
}

.SurveyForm button.c2 {
  background-color: rgb(181, 198, 236);
}

.SurveyForm button.c3 {
  background-color: rgb(255, 234, 189);
}

.SurveyForm button.c4 {
  background-color: rgb(255, 210, 92);
}

.SurveyForm button.c5 {
  background-color: orange;
}

@media only screen and (max-width: 615px) {
  .SurveyForm .controls button.c { width: 31%; }

  .SurveyForm .controls button.c0,
  .SurveyForm .controls button.c1,
  .SurveyForm .controls button.c2 {
    margin-bottom: 0.5em;
  }

  .SurveyForm .controls button.c.c3 { float: right; margin-right: 1%; }
  .SurveyForm .controls button.c.c4 { float: right; }
  .SurveyForm .controls button.c.c5 { float: right; margin-left: 0;
  }
}
